
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --aqua-:rgb(3, 173, 173);
  --blue-: rgba(2, 82, 102, 0.993);
}

.full_home{
  display: flex;
  
}
/*
#float {
  position: relative;
  -webkit-animation: floatBubble 8s infinite  normal ease-out;
  animation: floatBubble 8s infinite  normal ease-out;
}

@-webkit-keyframes floatBubble {
  0% {
      left:500px;
  }
  100% {
      right: 0px;
  }
}
@keyframes floatBubble {
  0% {
      left:500px;
  }
  100% {
      right: 0px;
  }
}
*/


.home {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgb(129, 207, 255),
    rgb(121, 255, 255)
  );  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home_head {
  text-align: center;
  margin: 0px 0px;
  font-size: xx-large;
  color: rgb(0, 0, 0);
  padding: 5px 5px;
  background-color: rgb(0, 128, 255);
  text-shadow: 5px 5px 5px rgb(61, 62, 71);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

}
.home .home_head h1 {
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 20px;
}
.Homes{
width: 100vw;
height: 89vh;
background-image: linear-gradient(
    to bottom,
    rgb(1, 34, 63),
    rgb(0, 19, 31),
    rgb(0, 0, 0)
  ); 

}
.dep_with_data{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  flex-direction: row;
}
/*
.home .home_top_navbar .Navbar {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: center;
  height: 46px;
  margin-left: 100px;
  margin-bottom: 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(42, 168, 23);
}
.home .home_top_navbar .Navbar li a {
  display: flex;
  padding: 5px 20px;
  color: black;
  background-color: white; 
  text-decoration: none;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.home_top_navbar .Navbar li a:hover {
  color: blue;
  background-color: chartreuse;
  border-bottom: 5px solid black;
}*/
.home .containers {
  padding: 0px;

  width: 70%;
  height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-image: url("/src/component/img/bank2.png");  }
.home .containers .home_left {
  width: 100%;
  height: 80vh;
  padding: 20px;
  text-align: center;
  font-weight: normal;
  color: rgb(255, 254, 254);
  background-color: rgba(0, 0, 0, 0.616);
}
.home .containers .home_left h1 {
  text-align: center;
  color: rgb(0, 225, 225);
  font-weight: 800;
}
.home .containers .home_left h2 {
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.link{
  width: 250px;
  height: 50px;
  margin-left: 10px;
  color: rgb(3, 173, 173);
  padding: 5px 20px 5px 20px;
  border-radius: 4px;
  font-weight: 700;
  background-color: rgba(27, 26, 26, 0.331);
  border-right: 2px solid black;
}
.link:hover {
  background-color: rgb(7, 7, 7);
  color: white;
}

.botton{
  
  height: 30px;
  background-color: black;
  color:blue;
}
/*
.home .containers .home_right {
  flex: 0.65;
  width: 80%;
  height: 72vh;
}
.home_right_navbar {
  margin-top: 307.5px;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgba(13, 155, 155, 0.766);
}

.nav_2 {
  padding: 30px 75px;
  list-style: none;
}
.nav_2 li a {
  text-decoration: none;
  color: white;
  font-weight: normal;
}
.nav_2 h2 {
  font-weight: 500;
}
*/